body{
    margin: 0%;
    padding: 0%;
}
a{
    text-decoration: none;
    color: rgb(100, 221, 243);
}
a:hover{
    text-decoration: none;
    color:rgb(0, 210, 243);
}
ul{
    list-style: none;
    margin: 0%;
    padding: 0%;
}
button{
    display: inline-block;
    border-width: 0px;
    border-radius: 7px;
}
button:hover{
    background-color: rgb(93, 203, 211);
}
.clear{
    clear: both;
}
.lr{
    margin: 15px;
    float: right;
    padding: 0%;
}
#big{
    font-size: xx-large;
    margin: 0px;
    padding: 0px;
}
.middiv{
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgba(133, 124, 124, 0.801);
    color: white;
    border-radius: 6px;
    padding: 10px;
    font-size: 20px;
}
.vertical1{
    margin: 10px;
    color: black;
}
.top2{
    margin: 2%;
    width: 60%;
}
hr{
    margin: 0%;
}
#big {
    display: none;
}
#small{
    display: none;
}
.vertical1{
    padding: 7px;
}
a{
    cursor: pointer;
}