body{
    margin: 0%;
    padding: 0%;
    font-family: salesforce-sans,'Helvetica Neue',helvetica,arial,sans-serif;
}
a{
    text-decoration: none;
    color: rgb(100, 221, 243);
}
a:hover{
    text-decoration: none;
    color:rgb(0, 210, 243);
}
ul{
    list-style: none;
    margin: 0%;
    padding: 0%;
}
button{
    display: inline-block;
    border-width: 0px;
    border-radius: 7px;
}
button:hover{
    background-color: rgb(93, 203, 211);
}
.clear{
    clear: both;
}
.lr{
    margin: 15px;
    float: right;
    padding: 0%;
}
#big{
    font-size: xx-large;
    margin: 0px;
    padding: 0px;
}
.middiv{
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgba(133, 124, 124, 0.801);
    color: white;
    border-radius: 6px;
    padding: 10px;
    font-size: 20px;
}
.vertical1{
    color: gray;
}
.top2{
    margin: 2%;
    width: 60%;
}
hr{
    margin: 0%;
}
#big {
    display: none;
}
#small{
    display: none;
}
.vertical1{
    padding: 7px;
}
a{
    cursor: pointer;
}
.box {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
}
.b {
    float: right; 
    width: 45%;
    border-radius: 5px;
}
.a {
    float: left;
    width: 45%;
    border-radius: 5px;
}
input, textarea {
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
}
input[type="text"], textarea {
    font-size: 20px;
}
#preview {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    word-wrap:break-word; 
    word-break:break-all; 
    overflow: hidden;
}