{% load static %}
<!DOCTYPE html>
<head>
    <title>極速車神大佬</title>
    <script src="{% static js/NPSC2014_H.js %}"></script>
    <meta name="description" content="首頁">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/NPSC2014_H.css" rel="stylesheet" type="text/css">
    <link href="../css/prism.css" rel="stylesheet" type="text/css">
    <script src="../js/prism.js"></script>
    <link rel="shortcut icon" href="https://scontent.ftpe2-1.fna.fbcdn.net/v/t1.6435-9/157925573_2672980012993763_89730427363002411_n.jpg?_nc_cat=111&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=0jrO8B8oHUEAX8QLUr4&_nc_ht=scontent.ftpe2-1.fna&oh=0f9613450a8905d1212db14430df92fc&oe=60BC6B79">
</head>
<body>
    <div id="big">
        <strong>
            <ul>
                <li style="float: left;margin: 15px;padding: 0%;"><button onclick="redirect(1)" class="top1" >極速車神大佬の部落格</button></li>
                <li class="lr" onclick="redirect(2)"><button class="top1">最新文章</button></li>
                <li class="lr" onclick="redirect(3)"><button class="top1">訓練題庫</button></li>
                <li class="lr" onclick="redirect(4)"><button class="top1">自我介紹&nbsp&&nbsp歷程記錄</button></li>
            </ul>
        </strong>
    </div>
    <div id="small">
        <center>
            <strong>
                <ul>
                    <li><button onclick="redirect(1)" class="top2">極速車神大佬の部落格</button></li>
                    <li onclick="redirect(2)"><button class="top2">最新文章</button></li>
                    <li onclick="redirect(3)"><button class="top2">訓練題庫</button></li>
                    <li onclick="redirect(4)"><button class="top2">自我介紹&nbsp&&nbsp歷程記錄</button></li>
                </ul>
            </strong>
        </center>
    </div>
    <div class="clear"></div>
    <hr>
    <div class="middiv">
        <h1 style="text-align: center;"><a href="https://www.spoj.com/problems/QTREE/">SPOJ_QTREE</a></h1>
        <h3>這題其實寫有點久...<br>裸輕重鍊剖分，但要注意若要把邊權壓成點權，查詢時不能跳到LCA~</h3>
    </div>
    <div class="middiv">
        <h2 style="margin: 0%;"><center>CODE</center></h2>
        <br>
        <pre >
<code class="++ language-c">#include &lt;bits/stdc++.h&gt;
#define pb push_back
#define pii pair&lt;int,int&gt;
#define tup tuple&lt;int,int,int&gt;
#define g0 get&lt;0&gt;(i)
#define g1 get&lt;1&gt;(i)
#define g2 get&lt;2&gt;(i)
#define f first
#define s second
#define lowbit(x) (x&amp;-x)
#define endl &#39;\n&#39;
#define mid ((l+r)&gt;&gt;1)
#define i1 (i&lt;&lt;1)
#define i2 (i1+1)
#define Hash(x,y) (maxn*x+y)
#define iofaster ios::sync_with_stdio(0);cin.tie(0)
#define fr(a) freopen((a),&quot;r&quot;,stdin)
#define fw(a) freopen((a),&quot;w&quot;,stdout)
using namespace std;
const int maxn = 1e4 + 5 ;
const int mod = 1e9 + 7 ;
const int INF = 1e9 + 9 ;
vector&lt;tup&gt;g[maxn];
int bson[maxn],sz[maxn],fa[maxn],tp[maxn],dfn[maxn],edge[maxn][3],dep[maxn],bsonw[maxn],val[maxn],seg[4*maxn],timer,n;
void init(int x,int p) {
	sz[x]=1;
	fa[x]=p;
	dep[x]=dep[p]+1;
	for(auto [i,v,e]:g[x]) {
		if(i==p) continue;
		if(edge[e][0]==i) swap(edge[e][0],edge[e][1]);
		init(i,x);
		if(sz[i]&gt;sz[bson[x]]) bson[x]=i,bsonw[x]=v;
		sz[x]+=sz[i];
	}
}

void link(int x,int p,int w) {
	tp[x]=p;
	dfn[x]=++timer;
	val[timer]=w;

	if(bson[x]!=0) link(bson[x],p,bsonw[x]);
	for(auto [i,v,e]:g[x]) {
		if(i==fa[x] or bson[x]==i) continue;
		link(i,i,v);
	}
}
void build(int l,int r,int i) {
	if(l==r) {
		seg[i]=val[l];
		return ;
	}
	build(l,mid,i1);
	build(mid+1,r,i2);
	seg[i]=max(seg[i1],seg[i2]);
}
void modify(int l,int r,int p,int v,int i) {
	if(l==r) {
		seg[i]=v;
		return ;
	}
	if(p&lt;=mid) modify(l,mid,p,v,i1);
	else modify(mid+1,r,p,v,i2);
	seg[i]=max(seg[i1],seg[i2]);
}

int query(int l,int r,int L,int R,int i) {
	if(L&lt;=l and R&gt;=r) return seg[i];
	int v=-INF;
	if(L&lt;=mid) v=max(v,query(l,mid,L,R,i1));
	if(R&gt;mid) v=max(v,query(mid+1,r,L,R,i2));

	return v;
}
void initialize() {
	memset(bson,0,sizeof(bson));
	memset(sz,0,sizeof(sz));
	memset(fa,0,sizeof(fa));
	memset(tp,0,sizeof(tp));
	memset(dfn,0,sizeof(dfn));
	memset(edge,0,sizeof(edge));
	memset(bsonw,0,sizeof(bsonw));
	memset(val,0,sizeof(val));
	memset(seg,0,sizeof(seg));
	memset(dep,0,sizeof(dep));
	timer=0;
}
int solve(int a,int b) {
	if(a==b) return 0;
	int ret=-INF;
	while(tp[a]!=tp[b]) {
		if(dep[tp[a]]&gt;dep[tp[b]]) swap(a,b);	
		ret=max(ret,query(1,n,dfn[tp[b]],dfn[b],1));
		b=fa[tp[b]];
	}
	if(dep[a]&gt;dep[b]) swap(a,b);
	ret=max(ret,query(1,n,dfn[a]+1,dfn[b],1));
	return ret;
}
signed main()
{
	iofaster;
	int t;
	cin&gt;&gt;t;
	while(t--) {
		cin&gt;&gt;n;
		for(int i=1;i&lt;=n;i++) g[i].clear();
		initialize();
		for(int i=1;i&lt;n;i++) {
			int u,v,w;
			cin&gt;&gt;u&gt;&gt;v&gt;&gt;w;
			g[u].pb({v,w,i});
			g[v].pb({u,w,i});
			edge[i][0]=u,edge[i][1]=v,edge[i][2]=w;
		}

		init(1,0);
		link(1,1,-INF);
		build(1,n,1);
		string str;
		while(cin&gt;&gt;str and str!=&quot;DONE&quot;) {
			int a,b;
			cin&gt;&gt;a&gt;&gt;b;
			if(str==&quot;QUERY&quot;) cout&lt;&lt;solve(a,b)&lt;&lt;endl;
			else modify(1,n,dfn[edge[a][1]],b,1);
		}
	}
}

            </code>
        </pre>
    </div>
    <div class="clear"></div>
    <div class="middiv">
        <center>
            <button class="vertical1" onclick="redirect(5)"><img src="../image/favicon.ico" class="cc">&nbspTIOJ</button>
            <button class="vertical1" onclick="redirect(6)"><img src="../image/favicon (1).ico" class="cc">&nbspcodeforces</button>
            <button class="vertical1" onclick="redirect(7)"><img src="../image/favicon.png" class="cc">&nbspatcoder</button>
            <button class="vertical1" onclick="redirect(8)"><img src="../image/unnamed.png" class="cc">&nbspfacebook</button>
            <button class="vertical1" onclick="redirect(9)"><img src="../image/favicon_qp2.png" class="cc">&nbspgoogle forms</button>
        </center>
    </div>
    <div style="height: 20px;"></div>
</body>