{% load static %}
<!DOCTYPE html>
<head>
    <title>極速車神大佬</title>
    <script src="{% static 'js/login.js' %}"></script>
    <meta name="description" content="首頁">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/login.css' %}" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="https://scontent.ftpe2-1.fna.fbcdn.net/v/t1.6435-9/157925573_2672980012993763_89730427363002411_n.jpg?_nc_cat=111&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=0jrO8B8oHUEAX8QLUr4&_nc_ht=scontent.ftpe2-1.fna&oh=0f9613450a8905d1212db14430df92fc&oe=60BC6B79">
</head>
<body>
    <div id="big">
        <strong>
            <ul>
                <li style="float: left;margin: 15px;padding: 0%;"><button onclick="redirect(1)" class="top1" >極速車神大佬の部落格</button></li>
                {% if user.is_authenticated == False %}
                <li class="lr" onclick="redirect(11)"><button class="top1">登入</button></li>
                {% else %}
                <li class="lr" onclick="redirect(12)"><button class="top1">設定</button></li>
                {% endif %}
                <li class="lr" onclick="redirect(2)"><button class="top1">最新文章</button></li>
                <li class="lr" onclick="redirect(3)"><button class="top1">訓練題庫</button></li>
                <li class="lr" onclick="redirect(4)"><button class="top1">自我介紹&nbsp&&nbsp歷程記錄</button></li>
                {% if user.is_authenticated %}
                <li class="lr" onclick="redirect(10)"><button class="top1">新增文章</button></li>
                {% endif %}
            </ul>
        </strong>
    </div>
    <div id="small">
        <center>
            <strong>
                <ul>
                    <li><button onclick="redirect(1)" class="top2">極速車神大佬の部落格</button></li>
                    {% if user.is_authenticated == False %}
                    <li onclick="redirect(11)"><button class="top2">登入</button></li>
                    {% else %}
                    <li onclick="redirect(12)"><button class="top2">設定</button></li>
                    {% endif %}
                    <li onclick="redirect(2)"><button class="top2">最新文章</button></li>
                    <li onclick="redirect(3)"><button class="top2">訓練題庫</button></li>
                    <li onclick="redirect(4)"><button class="top2">自我介紹&nbsp&&nbsp歷程記錄</button></li>
                    {% if user.is_authenticated %}
                    <li onclick="redirect(10)"><button class="top2">新增文章</button></li>
                    {% endif %}
                </ul>
            </strong>
        </center>
    </div>
    <div class="clear"></div>
    <hr>
    {% if user.is_authenticated %}
    <div class="middiv">
        <center><h1>已經登入 ! 即將跳轉頁面</h1></center>
    </div>
    <script type="text/javascript">
        setTimeout("location.href=`index`",3000);
    </script>
    {% else %}
    <div class="middiv">
        <h1> Login </h1>
        {% for message in messages %}
        <h5>{{message}}</h5>
        {% endfor %}
        <form method="post" action="login">
            {% csrf_token %}
            <p>Username :</p>
            <input type="text" name="username"/>
            <p>Password :</p>
            <input type="password" name="password"/>
            <input type="submit"/>
        </form>
        <h3>還沒有帳號 ? <a href="register">註冊</a></h3>
    </div>
    {% endif %}
    <div class="clear"></div>
    <div style="height: 40px;"></div>
    <div style="text-align: center; position: fixed;z-index: 1;bottom: 0px; width:100%; background-color: white; padding: 1%;">
        <a class="vertical1" href="https://tioj.ck.tp.edu.tw/users/gary940610">TIOJ</a>
        <a class="vertical1" href="https://codeforces.com/profile/gary940610">codeforces</a>
        <a class="vertical1" href="https://atcoder.jp/users/gary940610">atcoder</a>
        <a class="vertical1" href="https://www.facebook.com/profile.php?id=100008453702626">facebook</a>
    </div>
</body>

